<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Plant Recognizer</title>
        <link rel="stylesheet" href="css/result.css">
        <style>
            @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
        </style>
    </head>
    <body>
        <!-- logo -->
        <%- include('logo') %>

        <!-- search img -->
        <div id="retry">
            <img id="img-search" src="" alt=""/>
            <a href="/"><img id="img-return" src="img/return_image_temp.png" alt=""/></a>
        </div>

        <div id="main">
            <div id="result">
                <div id="result-main">
                    <div id="result-container01">
                        <div id="slide-container">
                            <!-- previous buttons -->
                            <a id="slide-prev">&#10094;</a>

                            <!-- slideshow container of result img -->
                            <div id="slideshow">
                                <%- include('slideImage') %>
                            </div>

                            <!-- next buttons -->
                            <a id="slide-next">&#10095;</a>
                        </div>
                    </div>

                    <div id="result-container02">
                        <div id="result-info">
                            <!-- dots -->
                            <div class="dots center">
                                <span id="dot1" class="dot"></span>
                                <span id="dot2" class="dot"></span>
                                <span id="dot3" class="dot"></span>
                                <span id="dot4" class="dot"></span>
                                <span id="dot5" class="dot"></span>
                            </div>

                            <!-- result plant information -->
                            <div id="details">
                                <h1 class="result-name"><%= data[0].name %></h1>
                                <!-- progress bar -->
                                <div class="progress">
                                    <div class="progress-value" style="width:<%= progress %>%"></div>
                                </div>
                                <p class="progress-txt"><%= progress %>%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="result-others">
                <!-- previous buttons -->
                <a id="scroll-up">&and;</a>
                <!-- result others -->
                <div id="scroll-container" class="scroll">
                    <%- include('resultOther') %>
                </div>
                <!-- next buttons -->
                <a id="scroll-down">&or;</a>
            </div>
        </div>
    </body>
    <script>
        window.addEventListener('load', function() {
            if(window.localStorage.getItem("imgcropped") !== null) {
                document.getElementById('img-search').src = window.localStorage.getItem("imgcropped");
            }

            var resName = document.getElementsByClassName('result-name')[0].innerText;
            var imgResult = document.getElementsByClassName('img-result');
            for (var i = 0; i < 5; i++) {
                imgResult[i].src = "image/" + resName + " 식물/google_000"+ i +".jpg"
            }

            if (localStorage.getItem("resultName") !== null) {
                var imgOther = document.getElementsByClassName('img-other-result');
                var resultName = document.getElementsByClassName('result-name');
                var array = JSON.parse(localStorage.getItem("resultName"));

                for (var i = 1; i < array.length; i++) {
                    resultName[i].innerHTML = array[i];
                    imgOther[i - 1].src = "image/" + array[i] + " 식물/google_0000.jpg";
                }
            }

            if (localStorage.getItem("classIndex") !== null && localStorage.getItem("probability") !== null) {
                var resultHREF = document.getElementsByClassName('result-other-href');
                var arrayIndex = JSON.parse(localStorage.getItem("classIndex"));
                var arrayProb = JSON.parse(localStorage.getItem("probability"));
                for (var i = 1; i < arrayIndex.length; i++) {
                    resultHREF[i - 1].setAttribute('href', '/result?id=' + arrayIndex[i] + '&prob=' + arrayProb[i]);
                }
            }

            /*
            if (localStorage.getItem("probability") !== null) {
                var progress = document.getElementsByClassName('progress-txt-other');
                var array = JSON.parse(localStorage.getItem("probability"));
                console.log(array);

                for (var i = 0; i < array.length; i++) {
                    progress[i].innerHTML = array[i + 1];
                }
            }
            */
        });
    </script>

    <script type="text/javascript" src="scripts/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="js/slideshow.js"></script>
    <script type="text/javascript" src="js/scroll.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter@2.7.0/dist/tf-converter.min.js"></script>
</html>